In [10]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from plotnine import ggplot, aes, geom_point, geom_smooth, labs

In [8]:
data = pd.read_csv('../data/kc_house_data.csv')
data.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11900,2061800045,20150122T000000,435000.0,6,2.50,2270,11970,1.0,0,0,...,7,1470.0,800,1964,0,98011,47.7722,-122.204,2270,10640
2833,3558910490,20140731T000000,450000.0,4,1.75,1980,7350,1.0,0,0,...,7,1430.0,550,1973,0,98034,47.7088,-122.202,1870,7920
2693,7811210200,20150420T000000,542500.0,4,2.25,1750,10160,1.0,0,0,...,8,1320.0,430,1972,0,98005,47.5909,-122.158,2170,11165
18749,5115000100,20140523T000000,255000.0,3,2.00,1490,8371,1.5,0,0,...,7,1490.0,0,1984,0,98031,47.3962,-122.189,1350,7846
878,9536602080,20141219T000000,229000.0,3,1.00,1020,8100,1.0,0,0,...,7,1020.0,0,1954,0,98198,47.3586,-122.314,1020,8100

<b> Practice: </b>

Pick 4 predictors that you think might have impact on price and fit the regression

- Check for multicollinearity. If it is present, try to address it as best as you can. 
- Fit your initial model and check for influential points using external studentized residuals and Cook's distance. Report those observations. 
- Drop any influential points and fit the initial model again. Use the residual plot to check for heteroskedasticity. Remediate the problem as best as you can.